<f:layout name="Default" />
<f:section name="main">
  <f:if condition="{debug}">
    <f:debug>{debug}</f:debug>
  </f:if>

  <f:if condition="{registered} == 1">
    <f:then>
      <f:comment>User is already registered</f:comment>
    </f:then>
    <f:else>
      <script lang="javascript">
        $( document ).ready( function() {
          $( "#mailchimp-subscribe-email" ).focus( function() { $( this ).select(); } );
          $( "#mailchimp-subscribe-email" ).mouseup( function( e ) { e.preventDefault(); } );
        } );
      </script>
      <f:form id="mailchimp-subscribe-form" object="{subscription}" action="{action}" name="subscription">
        <label for="mailchimp-subscribe-email"><f:translate key="email-label" default="email-label" /></label>
        <f:form.textfield id="mailchimp-subscribe-email" property="email" />
        <f:form.submit id="mailchimp-subscribe-submit" value="{f:translate(key:'submit', default:'send')}" />
      </f:form>
    </f:else>
  </f:if>

</f:section>